
body {
  /* background-color: rgb(20, 20, 20);
   */
   background-color: #000;
}
button.button {
  border-radius: 100rem;
  padding: 1rem;
  font-family: 'Avenir Next';
  font-size: 1rem;
  padding: .5rem 3rem;
  color: black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

button.button:hover {
  box-shadow: none;
  color: white;
}



blink_span{
  color: #0bc;
  animation: blink 2s linear infinite;
}
@keyframes blink{
0%{opacity: 0.9;}
50%{opacity: .5;}
100%{opacity: 1;}
}

#console {
  font-family: courier, monospace;
  /* color: #9c4831; */
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 14px;
  position:relative;
}

.wrapper{
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
}

canvas{
position: relative;
height:100%;
top: 0;
width:100%;
}

.introduction-canvas--overflow{

  width:100%;
  height:100%;
  position:absolute;
  top: 0;
  bottom: auto;
  display:block;

/*background: linear-gradient(to bottom right,FloralWhite 0%,PapayaWhip 50%,LemonChiffon 100%);*/
/* background: linear-gradient(to right bottom,rgba(249, 209, 129, 0.95) 0,rgba(244, 203, 137, 0.95) 50%,rgba(245, 234, 134, 0.95) 100%); */
}

a {
  color: MediumSeaGreen	;
  text-decoration: none;
}

#a {
  color:Tomato;
}

#c {
  color: #0bc;
}

#b {
  color:PaleGoldenrod	;
  font-weight: 500;
}

#k {
  animation: change 1s;
}

#op {
  color: #888888;
}

#company {
  color: #36b4df;
}

#profile{
  /* color: Chocolate; */
  color: rgb(212, 111, 39);
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    rgb(189, 118, 25) 0%,
    rgb(227, 140, 221)	 50%,
    rgb(154, 13, 13) 100%
  );
  font-weight: 900;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fafafa;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 15px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes change {
  0% {
    color: #9c4831;
  }
  50% {
    color: #0f0;
  }
  99% {
    color: black;
  }
}
